<!DOCTYPE html>
<%= render Blockytalky.PageView, "sensor_values.html" %>
<%= render Blockytalky.PageView, "button_bar.html" %>
<div id="blocklyDiv" style="height: 600px; width: 100%;"></div>

<%= render Blockytalky.PageView, "blockbin.html" %>
