<category name="Microbit">
   <block type ="microbit_button"></block>
   <block type ="set_group"></block>
   <block type ="Sendmicrobit_value"></block>
   <block type ="radio_send"></block>
   <block type ="radio_receive"></block> 
   <block type ="received"></block>
   <block type ="send_key"></block>
</catogary>  
 
