<category name="Music">
  <category name="Config">
    <block type="sync_to_parent">
  </category>
  <category name="Motifs">
    <block type="defmotif"></block>
    <block type="play_synth"></block>
    <block type="rest"></block>
    <block type="wait_for"></block>
    <block type="loop"></block>
  </category>
  <!--
  <category name="Instruments">
    <block name="effect"></block>
    <block name="synth"></block>
  </category>
  -->
</category>
