[{sasl,[{errlog_type,error}]},
 {blockytalky,
     [{'Elixir.Blockytalky.Endpoint',
          [{url,[{host,{system,<<"HOSTNAME">>}}]},
           {root,<<"/vagrant/blockytalky">>},
           {secret_key_base,
               <<"Kr/XoPRzKE/LIrVn2ugw8mtnkftj3C83hhELSbR49ZXM1HkljuB7rUTlOOX8e9zT">>},
           {debug_errors,false},
           {pubsub,
               [{name,'Elixir.Blockytalky.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true}]},
      {id,{system,<<"HOSTNAME">>}},
      {dax,<<"ws://btrouter.getdown.org:8005/dax">>},
      {music,true},
      {music_port,9090},
      {update_rate,30},
      {update_rate_hibernate,100},
      {supported_hardware,[btbrickpi]},
      {'Elixir.Blockytalky.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"blockytalky_prod">>},
           {size,20}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info},
      {backends,['Elixir.Logger.Backends.Syslog',console]},
      {syslog,[{facility,local2},{appid,<<"BlockyTalky">>}]}]}].
