{system_libs,"/Users/matt/blockytalky_elixir/erlang/lib"}.

{overlay,[{mkdir,"releases/0.3.3"},
          {copy,"./sys.config","releases/0.3.3/sys.config"},
          {copy,"./boot_shim","bin/blockytalky"},
          {copy,"./boot_shim.bat","bin/blockytalky.bat"},
          {copy,"./boot","releases/0.3.3/blockytalky.sh"},
          {copy,"./boot.bat","releases/0.3.3/blockytalky.bat"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Collectable.beam",
                "lib/blockytalky-0.3.3/Elixir.Collectable.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/blockytalky-0.3.3/Elixir.Ecto.Queryable.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Enumerable.beam",
                "lib/blockytalky-0.3.3/Elixir.Enumerable.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Inspect.beam",
                "lib/blockytalky-0.3.3/Elixir.Inspect.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.JSX.Encoder.beam",
                "lib/blockytalky-0.3.3/Elixir.JSX.Encoder.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.List.Chars.beam",
                "lib/blockytalky-0.3.3/Elixir.List.Chars.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/blockytalky-0.3.3/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/blockytalky-0.3.3/Elixir.Phoenix.HTML.Safe.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Phoenix.Param.beam",
                "lib/blockytalky-0.3.3/Elixir.Phoenix.Param.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Plug.Exception.beam",
                "lib/blockytalky-0.3.3/Elixir.Plug.Exception.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Poison.Decoder.beam",
                "lib/blockytalky-0.3.3/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Poison.Encoder.beam",
                "lib/blockytalky-0.3.3/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Socket.Datagram.Protocol.beam",
                "lib/blockytalky-0.3.3/Elixir.Socket.Datagram.Protocol.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Socket.Protocol.beam",
                "lib/blockytalky-0.3.3/Elixir.Socket.Protocol.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.Socket.Stream.Protocol.beam",
                "lib/blockytalky-0.3.3/Elixir.Socket.Stream.Protocol.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/_build/prod/consolidated/Elixir.String.Chars.beam",
                "lib/blockytalky-0.3.3/Elixir.String.Chars.beam"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/deps/conform/conform",
                "releases/0.3.3/conform"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/config/blockytalky.conf",
                "releases/0.3.3/blockytalky.conf"},
          {copy,"/Users/matt/blockytalky_elixir/blockytalky/config/blockytalky.schema.exs",
                "releases/0.3.3/blockytalky.schema.exs"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,"/Users/matt/blockytalky_elixir/erlang"}.

{release,{blockytalky,"0.3.3"},[{blockytalky,"0.3.3"},elixir,iex,sasl]}.

{lib_dirs,["/Users/matt/blockytalky_elixir/blockytalky/_build/prod",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.1.1/bin/../lib/mix/ebin"]}.

