{lib_dirs,["/usr/local/lib/elixir/lib","/vagrant/blockytalky/_build/prod"]}.

{release,{blockytalky,"0.1.2"},[{blockytalky,"0.1.2"},elixir,iex,sasl]}.

{include_erts,false}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.1.2"},
          {copy,"./sys.config","releases/0.1.2/sys.config"},
          {copy,"./boot","bin/blockytalky"},
          {copy,"/vagrant/blockytalky/_build/prod/consolidated",
                "lib/consolidated"}]}.

{system_libs,"/usr/bin/erlang/lib"}.

